@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
:root {
    --text-font-size : 23px;
    --text-font-weight: bolder;
}
body {
    font-size: 23px;
    margin: 0;
    padding: 0;
    background-color: #EBF0F8;
    font-family:'Jost', sans-serif;
}

/* Navigation menu */


#navigation-menu-section {
    background-color: white;
    height: 70px;
}

#navigation-menu-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
}

#navigation-link-container nav ul li a 
{
    text-decoration: none;
    color: black;

}

#navigation-link-container nav ul li a:hover       
{color: blue}

#img-nav-span
{
    display: flex;
    align-items: center;
    margin-left: 40px;
    position: relative;
    bottom: 5px;
    
}

#img-nav-span nav {
    margin-left: 30px;
    font-size: 17px;
    font-weight: var(--text-font-weight);    
}

#img-nav-span nav p:nth-of-type(2){
    text-align: center;
    line-height: 1px;
}

#img-nav-span img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    
}

.search-icon {
    margin-top: 25px;
    font-size: 17px;
}

#vertical-line1 {

    width: 1px;
    height: 70px;
    background-color: silver;
    margin-left: 50px;
    margin-right: 10px;

}

#vertical-line2 {
    width: 1px;
    height: 70px;
    background-color: silver;
    margin-left: 70px;
    margin-right: 10px;
}

.search-and-bar {
    display: flex;
}

.notification-and-number {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

#number-notifications {
    width: 17px; 
    background-color: red;
    text-align: center;
    border-radius: 50%;
    color: white; 
    font-weight: bolder;
    font-size: 15px;
    position: relative; 
    left: 30px; 
    bottom: 10px;
}



#side-bar-nav nav ul {
    list-style: none;
    padding: 20px;
    margin: auto;
}

#side-bar-nav nav ul li {
    margin-top: 17px;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    white-space: nowrap;
}

#side-bar-nav nav ul li:hover , #logout:hover
{
    color: blue;
    cursor: pointer;
}



#side-bar-nav {
    display: grid;
    grid-template-columns: 1.5fr 1fr 4fr;
    
}

#navigation-link-container {
    padding-top: 40px;
    margin-left: 90px;
}


#navigation-link-container nav ul li a 
{
    text-decoration: none;
    color: black;

}

#navigation-link-container nav ul li a:hover       
{color: blue;}


#navigation-link-container div>span {
    position: relative;
    top: 80px;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
}


#separator {
    width: 3px;
    height: 870px;
    background-color: rgb(148, 145, 145);
    margin-left: 50px;
    margin-right: 10px;
}


/* End Navigation menu */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* start of activities styles */

#activities-section{
    position: relative;
    right: 70px;
}

#activities-section-container> h1 {
    margin-left:300px;
}


thead>tr, tbody>tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 140px;
}

thead>tr {
    position: relative;
    top:1px;
}



tbody>tr, thead>tr{
    border-bottom: 1px solid grey;
    border-radius: 10px;
    background-color: white;
}


tbody>tr>td, thead>tr>th{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
}

tbody>tr>td:nth-of-type(2){
    color: grey;
}
/* End of activities design */
/* ----------------------------------------------------------------------------------------------- */
/* Responsive design */
/* for mobile screen */

@media screen and (max-width: 767px){
    body 
    {
        font-size: 15px;
    }
    #navigation-link-container, #separator
    {
        display: none;
    }

    nav p
    {
        font-size: 15px;
        white-space: nowrap;
        position: relative;
        right: 20px;
    }

    .notification-and-number 
    {
        position: relative;
        right: 50px;
    }
    #navigation-menu-container 
    {
        display: flex;
        overflow:auto;
        align-items: center;
        justify-content: space-between;
        
        
    }

    
    
    .search-icon 
    {
        display: none;
    }

    #menu 
    {
        display: block;
        font-size: larger;
        cursor: pointer;
    }
    #vertical-line2, #vertical-line1 
    {
        display: none;
    }

    thead>tr, tbody>tr {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        position: relative;
        left: 100px;
        gap: 10px;
        width: 400px;
        
    }

    #activities-section
    {
        width: 100%;
    }

    #first-thead
    {
        display: none;
    }
    #activities-section-container h1 
    {
        position: relative;
        right: 10px;
    }
    
}

/* End of mobile design */

/* for tablet */








@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: red; 
        font-size: 19px;
    }
    thead>tr, tbody>tr {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        position: relative;
        left: 100px;
        gap: 10px;
        width: 590px;
        
    }

    #first-thead
    {
        display: none;
    }

    nav p
    {
        font-size: 15px;
        white-space: nowrap;
        position: relative;
        right: 20px;
    }
    .search-icon {
        margin: auto
    }
    #activities-section-container h1 
    {
        position: relative;
        right: 40px;
    }
    nav p
    {
        font-size: 15px;
        white-space: nowrap;
        position: relative;
        right: 20px;
    }
    #side-bar-nav {
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        
    }
    thead>tr, tbody>tr {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        right: 300px;
        gap: 0px;
        padding-right: 100px;
        width: 400px;
        
        
    }
}
