@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
:root {
    --text-font-size : 23px;
    --text-font-weight: bolder;
}
body {
    font-size: 23px;
    margin: 0;
    padding: 0;
    background-color: #EBF0F8;
    font-family:'Jost', sans-serif;
}
.body-opacity 
{
    opacity: 0.3;
}

.delete-message-opacity
{
    opacity: 1;
}

/* Navigation menu */


#navigation-menu-section {
    background-color: white;
   
}






#navigation-menu-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
}


#img-nav-span
{
    display: flex;
    align-items: center;
    margin-left: 40px;
    position: relative;

    
    
}
.search-icon 
{
    position: relative;
    left: 80%;
    top : 20px;
    font-size: var(--text-full-screen-font-size);
}

#vertical-line1 {
    width: 1px;
    height: 70px;
    background-color: silver;
    margin-left: 50px;
    margin-right: 10px;

}

#vertical-line2 {
    width: 1px;
    height: 70px;
    background-color: silver;
    margin-left: 70px;
    margin-right: 10px;
}

#side-bar-nav {
    display: flex;
    justify-content: center;
    
}


#navigation-link-container 
{
    padding-top: 20px;
    padding-left: 30px;
}

#side-bar-nav nav ul, #navigation-link-container>div {
    list-style: none;
    padding: 20px;
    margin: auto;
}

#navigation-link-container nav ul li a 
{
    text-decoration: none;
    color: black;

}

#navigation-link-container nav ul li a:hover       
{color: blue;}

#menu 
{
    display: none;
}

#side-bar-nav nav ul li {
    margin-top: 17px;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    white-space: nowrap;
}

#side-bar-nav nav ul li:hover , #logout:hover
{
    color: blue;
    cursor: pointer;

}

#img-nav-span nav {
    margin-left: 30px;
    font-size: 17px;
    font-weight: var(--text-font-weight);    
}

#img-nav-span nav p:nth-of-type(2){
    text-align: center;
    line-height: 1px;
}

#img-nav-span img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    
}
    

.search-icon {
    margin-top: 25px;
    font-size: 17px;
}

#vertical-line1 {

    width: 1px;
    height: 70px;
    background-color: silver;
    margin-left: 50px;
    margin-right: 10px;

}

#vertical-line2 {
    width: 1px;
    height: 70px;
    background-color: silver;
    margin-left: 70px;
    margin-right: 10px;
}

.search-and-bar {
    display: flex;
}

.notification-and-number {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

#number-notifications {
    width: 17px; 
    background-color: red;
    text-align: center;
    border-radius: 50%;
    color: white; 
    font-weight: bolder;
    font-size: 15px;
    position: relative; 
    left: 30px; 
    bottom: 10px;
}



#side-bar-nav nav ul {
    list-style: none;
    padding: 20px;
    margin: auto;
}

#side-bar-nav nav ul li {
    margin-top: 17px;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    white-space: nowrap;
}

#side-bar-nav nav ul li:hover , #logout:hover
{
    color: blue;
    cursor: pointer;
}



#side-bar-nav {
    display: grid;
    grid-template-columns: 1.5fr 1fr 4fr;
    
}

#navigation-link-container {
    padding-top: 40px;
    margin-left: 90px;
}


#navigation-link-container div>span {
    position: relative;
    top: 80px;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
}


#separator {
    width: 3px;
    height: 120%;
    background-color: rgb(148, 145, 145);
    margin-left: 50px;
    margin-right: 10px;
}
/* End Navigation menu */

/* --------------------------------------------------------------------------------------------------------------------------------- */
/* Start of blog Design */






#blogs-section 
{
    margin:0 100px;

}

#blog-title-button 
{
    display: flex;
    justify-content: center;
}

#blog-title-button h1{
    margin-top: 30px;
}


#blog-title-button button 
{
    background-color: var(--update-background-color,#CE9D9D);
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 40px;
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: var(--text-font-weight); 
}


.main-container 

{   
    width: 100%;
    margin-top: 50px;
    background-color: white;
    width: 700px;
    height: 90px;
    padding: 10px 50px;
    margin-left: auto;
    text-align: right;
    
}


.container-action
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.container-action p {
    position: relative;
    bottom: 20px;
    width: 280px;
    font-size: 20px;
    height: fit-content;
}

.container-action button:hover
{
    color: red;
}



.container-action button:nth-of-type(1){
    background-color: var(--update-background-color,#C5B1B1);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: var(--text-font-weight);
    text-decoration: none;
}

.container-action button:nth-of-type(1):active, .container-action button:nth-of-type(2):active
{
    background-color: #dbd2d2;
    color: blue;
}


.container-action .delete-btn:nth-of-type(2){
    background-color: var(--update-background-color,#CE9D9D);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: var(--text-font-weight);
    text-decoration: none;
}

.empty-blog
{  
    width: 400px;
    height: 100px;
    background-color: white;
    margin: auto;
    margin-top: 50px;

}
.empty-blog p 
{
    text-align: center;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
   padding-top: 30px;
    
}


/* End of blog design */
/* ---------------------------------------------------------------------------------------------------- */

/* adding style to update section */
#addblog-container
{ 
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content;
    background-color: #EBF0F8;
    border-radius: 30px;
    height: fit-content;
   
    margin-top: 50px;
    padding-bottom: 50px;
    

}
#addblog-container h1
{
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 40px;
    color: black;

}

#addblog-container form label 
{
    font-size: 20px;
    font-weight: var(--text-font-weight);
    text-align: center;
    margin-bottom: 20px;
    display: block;
    color: black;

}

#addblog-container form input 
{
    width: 600px;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px dotted green;
    background-color: white;
    padding-left: 10px;
    box-sizing: border-box;
    padding-left: 30px;
    font-family: 'Jost', sans-serif; 
    font-size: 17px;

}

#addblog-container form textarea
{
    width: 600px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: white;
    padding-left: 30px;
    padding-top: 20px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif; 
    font-size: 17px;
    border: 1px dotted green;

}



#addblog-container form button
{
    background-color: var(--update-background-color,#CE9D9D);
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 40px;
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: var(--text-font-weight);
    transform: translate(200px);

}




/* End of activities design */
/* ----------------------------------------------------------------------------------------------- */
/* style for delete message */
#container 
{
    width: 420px;
    margin: auto;
    position: relative;
    
    transform: translate(150%, 200px);
    position: fixed;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    
}

#container-items 
{
    display: block;
    justify-content: center;
    align-items: center;
    
}

#container-items div
{
    text-align: center;
    font-size: 2em;
}

#container-items div .fa-check 
{
    color: green;
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 10px;

    
}

#container-items div button 
{
    background-color: rgb(5, 5, 2);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: var(--text-font-weight);
    margin-top: 20px;
    margin-bottom: 40px;
    
}

#container-items div button:hover
{
    color: black;
    background-color: rgb(192, 184, 184);
}

#check-icon
{
    display: inline-block;
  
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
    margin-bottom: 20px
    
;
}


/* end of style */



/* Responsive design */
/* for mobile screen */



/* @media screen and (max-width: 768px) {

    body 
    {
        font-size: var(--text-font-size);
    }
    #navigation-menu-container
    {
        display: flex;
        align-items: center;
        width: 100%;
    }

    #vertical-line1,#vertical-line2
    {
        display: block;
        width: 1px;
        height: 50px;
        background-color: grey;
    }



    #navigation-link-container, #separator
    {
        display: none;
    }

    nav p
    {
        font-size: 15px;
        white-space: nowrap;
        position: relative;
        right: 20px;
    }

    .notification-and-number 
    {
        position: relative;
        right: 50px;
    }
    #navigation-menu-container 
    {
        display: flex;
        overflow:auto;
        align-items: center;
        justify-content: space-around;
        
        
    }

    #menu 
    {
        display: block;
    }

    
    
    .search-icon 
    {
        display: none;
    }

    #menu 
    {
        display: block;
        font-size: larger;
        cursor: pointer;
        padding-right: 80px;
        color: black;
        
    }
    #vertical-line2, #vertical-line1 
    {
        display: none;
    }
    #main-container 
    {
        width: 100%;
    }

    #blogs-container-actions
    {
        width: 100%;
        text-align: center;
    
    }
} */



/* End of mobile design */

/* for tablet */



/* @media screen and (min-width: 768px) and (max-width: 1024px) {
    #navigation-menu-container
    {
        display: flex;
        align-items: center;
        width: 100%;
    }



    #navigation-link-container, #separator
    {
        display: none;
    }

    nav p
    {
        font-size: 15px;
        white-space: nowrap;
        position: relative;
        right: 20px;
    }

    .notification-and-number 
    {
        position: relative;
        right: 50px;
    }
    #navigation-menu-container 
    {
        display: flex;
        overflow:auto;
        align-items: center;
        justify-content: space-around;
        
        
    }
    #menu 
    {
        display: block;
    }

    
    
    .search-icon 
    {
        display: none;
    }

    #menu 
    {
        display: block;
        font-size: larger;
        cursor: pointer;
        padding-right: 80px;
        color: black;
        
    }
    #vertical-line2, #vertical-line1 
    {
        display: none;
    }
} */

/* End of blog design */