@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
:root {
    --text-font-size : 23px;
    --text-font-weight: bolder;
}
body {
    font-size: 23px;
    margin: 0;
    padding: 0;
    background-color: #EBF0F8;
    font-family:'Jost', sans-serif;
}

/* Navigation menu */


#navigation-menu-section {
    background-color: white;
   
}

#navigation-menu-container
{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr 1fr;
}



#img-nav-span
{
    display: flex;
    align-items: center;
    margin-left: 40px;
    position: relative;
    
    
}
.search-icon 
{
    position: relative;
    left: 80%;
    top : 20px;
    font-size: var(--text-full-screen-font-size);
}

#vertical-line1 {
    width: 1px;
    height: 70px;
    background-color: silver;
    margin-left: 50px;
    margin-right: 10px;

}

#vertical-line2 {
    width: 1px;
    height: 70px;
    background-color: silver;
    margin-left: 70px;
    margin-right: 10px;
}

#side-bar-nav {
    display: flex;
    justify-content: center;
    
}
#separator {
    width: 3px;
    height: 620px;
    background-color: rgb(148, 145, 145);
    margin-left: 50px;
    margin-right: 10px;
}


#navigation-link-container 
{
    padding-top: 20px;
    padding-left: 30px;
}

#side-bar-nav nav ul, #navigation-link-container>div {
    list-style: none;
    padding: 20px;
    margin: auto;
}

#menu 
{
    display: none;
}

#side-bar-nav nav ul li {
    margin-top: 17px;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    white-space: nowrap;
}

#side-bar-nav nav ul li:hover , #logout:hover
{
    color: blue;
    cursor: pointer;
}

#img-nav-span nav {
    margin-left: 30px;
    font-size: 17px;
    font-weight: var(--text-font-weight);    
}

#img-nav-span nav p:nth-of-type(2){
    text-align: center;
    line-height: 1px;
}

#img-nav-span img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    
}

#navigation-link-container>img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

.notification-and-number {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

#number-notifications {
    width: 17px; 
    background-color: red;
    text-align: center;
    border-radius: 50%;
    color: white; 
    font-weight: bolder;
    font-size: 15px;
    position: relative; 
    left: 30px; 
    bottom: 10px;
}



/* End Navigation menu */

/* --------------------------------------------------------------------------------------------------------------------------------- */
/* Start of blog Design */

#blogs-container-actions
{
    width: 100%;
}
#blogs-section 
{
    /* margin:0 100px; */
}

#blog-title-button 
{
    display: flex;
    justify-content: center;
}

#blog-title-button h1{
    margin-top: 30px;
}


#blog-title-button button 
{
    background-color: var(--update-background-color,#CE9D9D);
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 40px;
    width: 150px;
    height: 40px;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: var(--text-font-weight); 
}


#main-container 
{   
    width: 100%;
    margin-top: 50px;
    background-color: white;
    width: 700px;
    height: 90px;
    padding: 10px 50px;
    margin-left: auto;
    text-align: right; 
}


#container-action
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


#container-action p {
    position: relative;
    bottom: 20px;
}

button:hover
{
    color: red;
}



#container-action button:nth-of-type(1){
    background-color: var(--update-background-color,#C5B1B1);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: var(--text-font-weight);
}

#container-action button:nth-of-type(1):active, #container-action button:nth-of-type(2):active
{
    background-color: #dbd2d2;
    color: blue;
}


#container-action button:nth-of-type(2){
    background-color: var(--update-background-color,#CE9D9D);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: var(--text-font-weight);
}




/* End of blog design */



/* End of activities design */
/* ----------------------------------------------------------------------------------------------- */
/* Responsive design */
/* for mobile screen */



@media screen and (max-width: 768px) {

    body 
    {
        font-size: var(--text-font-size);
    }
    #navigation-menu-container
    {
        display: flex;
        align-items: center;
        width: 100%;
    }

    #vertical-line1,#vertical-line2
    {
        display: block;
        width: 1px;
        height: 50px;
        background-color: grey;
    }



    #navigation-link-container, #separator
    {
        display: none;
    }

    nav p
    {
        font-size: 15px;
        white-space: nowrap;
        position: relative;
        right: 20px;
    }

    .notification-and-number 
    {
        position: relative;
        right: 50px;
    }
    #navigation-menu-container 
    {
        display: flex;
        overflow:auto;
        align-items: center;
        justify-content: space-around;
        
        
    }

    #menu 
    {
        display: block;
    }

    
    
    .search-icon 
    {
        display: none;
    }

    #menu 
    {
        display: block;
        font-size: larger;
        cursor: pointer;
        padding-right: 80px;
        color: black;
        
    }
    #vertical-line2, #vertical-line1 
    {
        display: none;
    }
    #main-container 
    {
        width: 100%;
    }

    #blogs-container-actions
    {
        width: 100%;
        text-align: center;
    
    }
}



/* End of mobile design */

/* for tablet */



@media screen and (min-width: 768px) and (max-width: 1024px) {
    #navigation-menu-container
    {
        display: flex;
        align-items: center;
        width: 100%;
    }



    #navigation-link-container, #separator
    {
        display: none;
    }

    nav p
    {
        font-size: 15px;
        white-space: nowrap;
        position: relative;
        right: 20px;
    }

    .notification-and-number 
    {
        position: relative;
        right: 50px;
    }
    #navigation-menu-container 
    {
        display: flex;
        overflow:auto;
        align-items: center;
        justify-content: space-around;
        
        
    }
    #menu 
    {
        display: block;
    }

    
    
    .search-icon 
    {
        display: none;
    }

    #menu 
    {
        display: block;
        font-size: larger;
        cursor: pointer;
        padding-right: 80px;
        color: black;
        
    }
    #vertical-line2, #vertical-line1 
    {
        display: none;
    }
}