@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


body{
    background-color: rgb(237, 237, 231);
    font-family: 'Jost', sans-serif;
}


#container 
{
    width: 500px;
    margin: auto;
    position: relative;
    
    transform: translatey(200px);
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    
}

#container-items 
{
    display: block;
    justify-content: center;
    align-items: center;
    
}

#container-items div
{
    text-align: center;
    font-size: 2em;
}

#container-items div .fa-check 
{
    color: green;
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 10px;

    
}

#container-items div button 
{
    background-color: rgb(5, 5, 2);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: var(--text-font-weight);
    margin-top: 20px;
    margin-bottom: 40px;
    
}

#container-items div button:hover
{
    color: black;
    background-color: rgb(192, 184, 184);
}

#check-icon
{
    display: inline-block;
  
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
    margin-bottom: 20px
    
;
}


