@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
:root {
    --text-font-size : 23px;
    --text-font-weight: bolder;
}
body {
    font-size: 23px;
    margin: 0;
    padding: 0;
    background-color: #EBF0F8;
    font-family:'Jost', sans-serif;
}

/* Navigation menu */


#navigation-menu-section {
    background-color: white;
    height: 70px;
}

#navigation-menu-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
}

#img-nav-span
{
    display: flex;
    align-items: center;
    margin-left: 40px;
    position: relative;
    bottom: 5px;
    
}

#img-nav-span nav {
    margin-left: 30px;
    font-size: 17px;
    font-weight: var(--text-font-weight);    
}

#img-nav-span nav p:nth-of-type(2){
    text-align: center;
    line-height: 1px;
}

#img-nav-span img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    
}

.search-icon {
    margin-top: 25px;
    font-size: 17px;
}

#vertical-line1 {

    width: 1px;
    height: 70px;
    background-color: silver;
    margin-left: 50px;
    margin-right: 10px;

}

#vertical-line2 {
    width: 1px;
    height: 70px;
    background-color: silver;
    margin-left: 70px;
    margin-right: 10px;
}

.search-and-bar {
    display: flex;
}

.notification-and-number {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

#number-notifications {
    width: 17px; 
    background-color: red;
    text-align: center;
    border-radius: 50%;
    color: white; 
    font-weight: bolder;
    font-size: 15px;
    position: relative; 
    left: 30px; 
    bottom: 10px;
}



#side-bar-nav nav ul {
    list-style: none;
    padding: 20px;
    margin: auto;
}

#side-bar-nav nav ul li {
    margin-top: 17px;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    white-space: nowrap;
}

#side-bar-nav nav ul li:hover , #logout:hover
{
    color: blue;
    cursor: pointer;
}



#side-bar-nav {
    display: grid;
    grid-template-columns: 1.5fr 1fr 4fr;
    
}

#navigation-link-container {
    padding-top: 40px;
    margin-left: 90px;
}


#navigation-link-container div>span {
    position: relative;
    top: 80px;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
}


#separator {
    width: 3px;
    height: 620px;
    background-color: rgb(148, 145, 145);
    margin-left: 50px;
    margin-right: 10px;
}



/* End Navigation menu */
/* -------------------------------------------------------------------------------------- */
/* Add project */


#add-new-project{
    margin-right: 20%;
}

#add-new-project h1 {
    text-align: center;

}


#add-new-project form {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 17px;
}

#add-new-project form input {
    width: 600px;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: white;
    
    padding-left: 10px;

}

#add-new-project form label {
    font-size: 17px;
    font-weight: var(--text-font-weight);
    text-align: center;
    margin-bottom: 20px;
}

#add-new-project form button {
    width: 100px;
    justify-self: center;
    height: 30px;
    background-color: #C5B1B1;
    border: none;
    color: black;
    border-radius: 10px;
    font-weight: var(--text-font-weight);
    cursor: pointer;
    padding: 0px 15px;
}

#add-new-project form button:hover {
    color: blue;
}

#add-new-project form button:active {
    background-color: #ded6d6;
}



/* End of Add project */
/* ----------------------------------------------------------------------------------------------- */