@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --input-text-underline: underline;
}
body {
    
    font-family:'Jost', sans-serif;
    font-size: 24px;
    
}

/* navigation menu style */

nav {
    
    background-color: #EBF0F8;
    height: 90px;
    position: relative;
    width: 100%;
    

}

ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;


}

ul li {
    padding-top: 0px;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    color: black;

}

ul li:nth-of-type(6)>span:nth-of-type(2){
    margin-left: 10px;
    text-decoration: underline gray 1px;

}


ul li:hover {
    color: blue
}

#menu 
{
    display: none;
}
/* End of navigation style */

/* ------------------------------------------------------------------------------------------------------ */

/* introduction style */

#description-container {
    display: flex;;
    align-items: center;
    margin-top: 30px;
    margin-left: 100px;
}

#blog-intro-container :is(h1,.additional-info){
    text-align: justify;
    margin-left: 100px;

}

#blog-intro-container h1 {
    font-size: 50px;
    color: #42A978;
    margin-top: 50px;
    margin-bottom: 30px;
}

.additional-info {
    position: relative;
    bottom: 30px;
}


#short-intro {
    margin-left: 40px;
    
}
/* End of introduction style */

/* ----------------------------------------------------------------------------------------------------- */


/* Table of content and intro on RESTAPI design*/

#api-introduction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    

} 

#api-introduction div:nth-of-type(1){
    width: 700px;
}

#api-introduction div:nth-of-type(2){
    position: relative;
    left: 30px;
    position: relative;
    bottom: 50px;
}

#api-introduction div:nth-of-type(2) p a
{
    text-decoration: none;
    color: black;
    font-weight: 900px;
}


#api-introduction div:nth-of-type(2) p a:hover
{
    color: blue
}


/* End of Design on Intro on RESTAPI */
/* ------------------------------------------------------------------------------------------- */


/* Start of design on the main text */

#main-content-of-blog {
    margin-left: 100px;
    margin-top: 120px;
}

#main-content-of-blog>div>h5 {
    font-weight: 900px;
    margin-bottom: 60px;
    margin-top: 50px
}



#thanks-message {
    margin-left: 100px;
    margin-top: 100px;
}



/* End od Design on the main text */
/* ------------------------------------------------------------------------------------------------- */

/* start of comment section */

#comment-section {
    background-color: #EBF0F8;
    width: 100%;
}

#comment-section>div {
    margin-left: 100px;
    padding:20px 0px;
}
#comment-input 
{ 
    position: relative; 
    top: 10px;
    width: 300px;
    height: 50px;
    background-color: #EBF0F8;
    border: none;

}
.doc {
    position: relative;
    bottom: 10px;
}
#thumbs-down
{
    margin-top: 30px; 
    margin-left: 10px
}
::placeholder
{
    font-size: 25px;
    
}
::placeholder::after{
    content: var(--input-text-underline);

}
/* Start of Recent-post section */


.recent-posts {
    margin-top: 60px;
}

.container-blog {
    display: flex;
    justify-content: space-evenly;
}

.container-blog>div {
    width: 550px;
    height: 420px;
    background-color: #D5DBE3;
    margin-bottom: 70px;
    border-radius: 12px;
}


.container-blog>div :is(h1,p){
    padding: 10px 30px;
    text-align: center;
}


.blog-section h1 {
    text-align: center;
   

}



#read-more {
    display: flex;
    justify-content: center;
    
}


#read-more a {
    text-decoration: none;
    color: black;
    margin-bottom: 40px;
}

#read-more a:nth-of-type(1){
    
    font-size: 20px;
    font-weight: 800;
    margin-right: 15px;
}


#read-more a:hover{
    color: blue;
}




/* End of Recent-post section */
/* --------------------------------------------------------------------------------------------------- */

/* footer section */

#address2 
{
    display: none;
}

footer {
    background-color: #F1F9F8;
    width:100%
}

footer #address {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

footer #social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

footer #social-media-icons a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}


footer #social-media-icons a:nth-of-type(1){
    margin-left: 20px;
}

footer #social-media-icons a:hover {
    color: blue;

}

footer i {
    color: rgb(72, 70, 70);
}

footer #copyright {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


#back-to-top {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    cursor: pointer;
    color: black;
}

/* End of footer sectio */

/* -------------------------------------------------------------------------------------------------------------- */
/* Responsive design for mobile design */

@media screen and (max-width: 768px) {

    body 
    {
        font-size: 16px;
    }
    ul 
    {
        display: none;
    }
    nav 
    {
        width: 100%;
    }

    #menu
    {
        display: block;
        cursor: pointer;
        font-size: 30px;
        padding-top: 30px;
        float: right;
        padding-right: 40px;
        margin: auto;

    }

    #blog-intro-container 
    {
        width: 100%;
    }

    #blog-intro-container h1, .additional-info
    {
        text-align: center;

    }

    #blog-intro-container h1 
    {
        font-size: 26px;
    }

    #description-container
    {
        width: 100%;
        margin-left: 0px;
        padding: 0px 30px;
    }

    #api-introduction>div>h1
    {
        text-align: center
    }

    #api-introduction>div>p 
    {
        text-align: left;
        padding: 0 30px;
    }

    #api-introduction
    {
        display: block;
        
    }
    #api-introduction div:nth-of-type(2)
    {
        display: none;
    }
    #api-introduction div:nth-of-type(1)
    {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        text-align: center;
    }

    #main-content-of-blog
    {
        width: 100%;
        margin-left: 0;
    }

    #main-content-of-blog div>h5
    {
        text-align: center;
    }

    #main-content-of-blog div>p 
    {
        padding: 0 30px;
    }

    #comment-section
    {
        width: 100%;
    }

    #thanks-message 
    {
        font-size: 14px;
        padding-right: 80px;
    }

    #comment-section div 
    {
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .container-blog
    {
        display: block;
        width: 100%;
        
    }

    .recent-posts h1
    {
        text-align: center;
    }

    .container-blog>div 
    {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
        height: 300px;
    }

    footer>#address {
        display: none;
    }
    footer>#address2 
    {
        display: block;
        text-align: center;
        
    }

    footer>#address2>p 
    {
        padding-top: 30px;
    }

    footer>#address2>span 
    {
        margin-right: 20px;
        position: relative;
        top: 10px;
    }
    .doc 
    {
        position: relative;
        top: 10px;
    }


    
}


/* For tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    body 
    {
        font-size: 16px;
    }
    ul 
    {
        display: none;
    }
    nav 
    {
        width: 100%;
    }

    #menu
    {
        display: block;
        cursor: pointer;
        font-size: 30px;
        padding-top: 30px;
        float: right;
        padding-right: 40px;
        margin: auto;

    }

    #blog-intro-container 
    {
        width: 100%;
    }

    #blog-intro-container h1, .additional-info
    {
        text-align: center;

    }

    #blog-intro-container h1 
    {
        font-size: 26px;
    }

    #description-container
    {
        width: 100%;
        margin-left: 0px;
        padding: 0px 30px;
    }

    #api-introduction>div>h1
    {
        text-align: center
    }

    #api-introduction>div>p 
    {
        text-align: left;
        padding: 0 30px;
    }

    #api-introduction
    {
        display: block;
        
    }
    #api-introduction div:nth-of-type(2)
    {
        display: none;
    }
    #api-introduction div:nth-of-type(1)
    {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        text-align: center;
    }

    #main-content-of-blog
    {
        width: 100%;
        margin-left: 0;
    }

    #main-content-of-blog div>h5
    {
        text-align: center;
    }

    #main-content-of-blog div>p 
    {
        padding: 0 30px;
    }

    #comment-section
    {
        width: 100%;
    }

    #thanks-message 
    {
        font-size: 14px;
        
    }

    #comment-section div 
    {
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .container-blog
    {
        display: flex;
        width: 100%;
        
        gap: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .recent-posts h1
    {
        text-align: center;
    }

    .container-blog>div 
    {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }

    footer>#address {
        display: none;
    }
    footer>#address2 
    {
        display: block;
        text-align: center;
        
    }

    footer>#address2>p 
    {
        padding-top: 30px;
    }

    footer>#address2>span 
    {
        margin-right: 20px;
        position: relative;
        top: 10px;
    }
    .doc 
    {
        position: relative;
        top: 10px;
    }


    
}