@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body{
    margin: 0;
    padding: 0;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    min-height: 800px;
    width: 100%;
}


/* ------------------------------------------------------------------------------------------------------- */
/* start of navigation menu */
#container1 {
    display: flex;
    background-color: #F1F9F8;
    padding-right: 50px;
    padding-right: 50px;
    height: 110px;
    width: 100%;
}

nav {
   
    margin-top: 10px;
}


ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}



ul li {
    list-style: none;
    position: relative;
    left: 200px;
}


li {
    position: relative;
    right: 100px;
}

ul li:hover {
    color: #204EC2;
    cursor: pointer;
}

#menu
{
    display: none;
} 


/* end of navigation menu */

/* -------------------------------------------------------------------------------------------------------------------------------------------- */

/* Home section */


.greeting-word {
    margin-bottom: 60px;
    font-size: 45px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: #C79F9F;
}


#description-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    position: relative;
    top: -100px
    
}

#description-image-container p {
    font-size: 23px;
    text-align: left;
    align-self:flex-end;
}

#description-image-container img {
    width: 320px;
    height: 270px;
    border-radius: 131px;
    margin: auto;
}

#description-image-container div {
    margin: auto;
    display: grid;
    align-items: center;
}

#description-image-container div a {
    color: black;
    text-decoration: none;
}

#description-image-container div a:nth-child(1){
    margin-bottom: 30px;
}

#description-image-container div a i {
    padding-right: 18px;
}

/*end of Home section */

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* start of About Me section */

.about-me-section {
    background-color:#F1F9F8 ;
    padding: 20px 50px;
    text-align: center;
    height: 500px;
    
}

#about-me-container .play-role {
    text-align: center;
    font-size: 45px;
    position: relative;
    bottom: 40px;
}

.about-me-section h1,#projects-section h1,.skills-section h1 , .contactUs-container h1 {
    font-size: 45px;
    font-weight: 500px;
}

#second-paragraph
{
    display: none;
}

/* End of About Me section */

/* ---------------------------------------------------------------------------------------------- */

/* Start of project section */

.projects-section-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

#projects-section {
    background-color: #F1F9F8;
    padding: 20px 50px;
}

#projects-section h1, .skills-section h1 , .contactUs-container h1{
    text-align: center;
}



.projects-section-container div:nth-of-type(1){
    background-image: url(images/calculator3.webp);
}

.projects-section-container div:nth-of-type(2) {
    background-image: url(images/pankaj-patel-ruiU36AR5zo-unsplash.jpg);
}

.projects-section-container div:nth-of-type(3){
    background-image: url(images/calculator3.webp);
}



.single-project {
    width: 300px;
    height: 440px;
    color: white;
    font-weight: 400px;
    border-radius: 20px;
}

.single-project h1 {
    font-size: 10px;
}

.single-project p {
    text-align: center;
    padding: 0px 20px;
}
.single-project button {
    margin-left: 80px;
    width: 140px;
    border-radius: 10px;
    height: 40px;
    background-color: #D5DBE3;
    border: none;
    margin-top: 10px;
    font-weight: 800;
    cursor: pointer;
    font-size: 25px;
}


.single-project button:hover {
    color:#97B5DE;
    
}

.single-project h1 
{
    font-size: 30px;
}


.two-button {
    margin-top: 100px;
}




/* End of Project section */

/* --------------------------------------------------------------------------------------------------- */

/* Blog container */

.container-blog {
    display: flex;
    justify-content: space-evenly;
}

.container-blog>div {
    width: 550px;
    height: 420px;
    background-color: #D5DBE3;
    margin-bottom: 70px;
    border-radius: 12px;
}


.container-blog>div :is(h1,p){
    padding: 10px 30px;
    text-align: center;
}


.blog-section h1 {
    text-align: center;
   

}



#read-more {
    display: flex;
    justify-content: center;
    
}


#read-more a {
    text-decoration: none;
    color: black;
    margin-bottom: 40px;
}

#read-more a:nth-of-type(1){
    
    font-size: 20px;
    font-weight: 800;
    margin-right: 15px;
}


#read-more a:hover{
    color: blue;
}

/* End of Blog container */

/* ------------------------------------------------------------------------------------- */

/* Skills container */

.skills-container {
    display: flex;
    justify-content: space-around;
}

.skills-level-container {
    display: flex;
    justify-content: space-around;
}

.skills-level
{
    width: 4rem;
    height: 4rem;
    
    border-radius: 9rem;
    margin: 1.5rem;
    border-right: 4px solid black;
    border-top: 4px solid black;
}

.level1{
    border-bottom:  calc(100% - 4px) solid black;
}

.level2{
    border-bottom: 4px solid black;
}






.skills-level span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: black;
}
/* End of skills section */

/* ------------------------------------------------------------------------------------------------------------------------- */

/* Contact Us section  */


.contactUs-container p {
    text-align: center;
}

.contactUs-container form :is(label, input, button){
    display: block;

}

form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
   
    margin-top: 50px;
    margin-bottom: 50px;
    
}
form label {
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}
input[type="text"], input[type="email"]{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
}

textarea {
    width: 500px;
    
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    resize: none;

}


form button
{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    background-color: #D5DBE3;
    border: none;
    cursor: pointer;
    font-weight: 800;
    margin-left: 40%;
    
}

form button:hover 
{
    color:blue;

}


/* End of Contact Us section */
/* --------------------------------------------------------------------------------------------------------- */

/* start of footer section */

footer {
    background-color: #F1F9F8;
    height: 300px;
}

footer #address {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

footer #social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

footer #social-media-icons a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

footer #social-media-icons a:nth-of-type(1){
    margin-left: 20px;
}

footer #social-media-icons a:hover {
    color: blue;

}

footer i {
    color: rgb(72, 70, 70);
}

footer #copyright {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


#back-to-top {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    cursor: pointer;
    color: black;
}
#address2 {
    display: none;
}

/* End of footer section */
/* ------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Responsive design for mobile device */

@media (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 19px;
    }

    #container1
    {
        width: 100%;
    }
    body {
        font-size: 20px;
        margin: 0;
        padding: 0;
        font-size: 19px;
    }
    #navigation-link-container{
        width: 100%;
        
    }

    nav,#first-paragraph
    {
        display: none;
    }

    #menu{
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: black;
        margin: auto ;
        position: relative;
        left: 30px;
        

    }

    .logo {
        padding-left: 30px;
    }

    #description-image-container,.greeting-word,#about-me-container .play-role
    {
        grid-template-columns: auto ;
        margin-top: 20px;
        font-size: 24px;
    }

    .projects-section-container, .container-blog {
        display: block;
    }

    .container-blog div
    {
        width: 400px;
        position: relative;
        top: 90px;
        left: 34px;
    }


    .container-blog>div>p 
    {
        position: relative;
        top: 50px;
    }

    #read-more-blog1
    {
        color: black;
    }


    .contactUs-container
    {
        
        font-size: 17px;
    }

    .contactUs-container>p 
    {
        font-size: 17px;
        width: 400px;
    }

    .contactUs-container>form>input,.contactUs-container>form>textarea
    {
        width: 400px;
    }

    footer>#address
    {
        display: none;
    }

    footer 

    {   width: 440px;
        height: fit-content;
    }
    #address2{
        display: block;
        
    }

    #address2 p:nth-of-type(1)
    {
        padding-top: 30px;
    } 

    #address2
    {
        text-align: center;
        margin-top: 30px;
    }

    
    #address2 p 
    {
        text-align: center;
        margin-top: 30px;
    }

    #back-to-top
    {
        padding-bottom: 20px;
    }

    #description-image-container>#second-paragraph
    {
        display: block;
        font-size: 19px;
        width: 400px
        
    }

    #description-image-container>div 
    {
        margin-top: 100px;
    }

    .fa-circle-check,.fa-circle-down 
    {
        margin-left: 20px;
    }

    

    .projects-section-container div
    {
        height: fit-content;
        margin-bottom: 50px;
        position: relative;
        right: 30px;
    }

    .single-project button 
    {
        margin-bottom: 40px;
    }

    
    .skills-section h1 
    {
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .contactUs-container h1 
    {
        font-size: 24px;
        margin-top: 150px;
        margin-bottom: 30px;
    }

    .contactUs-container p 
    {
        font-size: 19px;
        padding-left: 23px;
    }

    .contactUs-container form input, .contactUs-container form textarea{
        width: 380px;
        position: relative;
        left: 20px;
    }

    .contactUs-container form label
    {
        position: relative;
        right: 30px;
    }

    .single-project h1
    {
        font-size: 19px;
    }
    

    .blog-section h1 
    {
        font-size: 24px;
        position: relative;
        top: 50px;
    }

    .skills-level{
        width: 3rem;
        height: 3rem;
        
        border-radius: 9rem;
        margin: 1.5rem;
        border-right: 4px solid black;
        border-top: 4px solid black;
    }
    
    .skills-level>span , .contactUs-container form textarea,.contactUs-container form button
    {
        font-size: 19px;
    }

    .contactUs-container form button
    {
        position: relative;
        right: 30px;
    }

    .about-me-section 
    {
        
        padding: 20px 50px;
        text-align: justify;
        height: fit-content;
        width: 460px
        
    }

    .about-me-section h1 
    {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    #icons-project
    {
        display: none;
    }


    #projects-section
    {   width: 100%;
        position: relative;
        left: 0px;
    }

    #projects-section h1 
    {
        font-size: 24px;
    }
    #description-image-container img 
    {
        margin-top: 60px;
    }
    
}


@media (max-width: 850px){

}









/* End of mobile device design */
/* ------------------------------------------------------------------------------------------------------------------- */
/* Design for tablet */




@media (max-width: 850px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 19px;
    }

    #container1
    {
        width: 100%;
    }
    body {
        font-size: 20px;
        margin: 0;
        padding: 0;
        font-size: 19px;
    }
    #navigation-link-container{
        width: 100%;
        
    }

    nav,#first-paragraph
    {
        display: none;
    }

    #menu{
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: black;
        margin: auto 5000px
        

    }

    .logo {
        padding-left: 30px;
    }

    #description-image-container,.greeting-word,#about-me-container .play-role
    {
        grid-template-columns: auto ;
        margin-top: 20px;
        font-size: 24px;
    }

    .projects-section-container, .container-blog {
        display: block;
    }

    .container-blog div
    {
        width: 400px;
        position: relative;
        top: 90px;
        left: 34px;
    }


    .container-blog>div>p 
    {
        position: relative;
        top: 50px;
    }

    #read-more-blog1
    {
        color: black;
    }


    .contactUs-container
    {
        
        font-size: 17px;
    }

    .contactUs-container>p 
    {
        font-size: 17px;
        width: 400px;
    }

    .contactUs-container>form>input,.contactUs-container>form>textarea
    {
        width: 400px;
    }

    footer>#address
    {
        display: none;
    }

    footer 

    {   width: 440px;
        height: fit-content;
    }
    #address2{
        display: block;
        
    }

    #address2 p:nth-of-type(1)
    {
        padding-top: 30px;
    } 

    #address2
    {
        text-align: center;
        margin-top: 30px;
    }

    
    #address2 p 
    {
        text-align: center;
        margin-top: 30px;
    }

    #back-to-top
    {
        padding-bottom: 20px;
    }

    #description-image-container>#second-paragraph
    {
        display: block;
        font-size: 19px;
        width: 400px
        
    }

    #description-image-container>div 
    {
        margin-top: 100px;
    }

    .fa-circle-check,.fa-circle-down 
    {
        margin-left: 20px;
    }

    

    .projects-section-container div
    {
        height: fit-content;
        margin-bottom: 50px;
        position: relative;
        right: 30px;
    }

    .single-project button 
    {
        margin-bottom: 40px;
    }

    
    .skills-section h1 
    {
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .contactUs-container h1 
    {
        font-size: 24px;
        margin-top: 150px;
        margin-bottom: 30px;
    }

    .contactUs-container p 
    {
        font-size: 19px;
        padding-left: 23px;
    }

    .contactUs-container form input, .contactUs-container form textarea{
        width: 380px;
        position: relative;
        left: 20px;
    }

    .contactUs-container form label
    {
        position: relative;
        right: 30px;
    }

    .single-project h1
    {
        font-size: 19px;
    }
    

    .blog-section h1 
    {
        font-size: 24px;
        position: relative;
        top: 50px;
    }

    .skills-level{
        width: 3rem;
        height: 3rem;
        
        border-radius: 9rem;
        margin: 1.5rem;
        border-right: 4px solid black;
        border-top: 4px solid black;
    }
    
    .skills-level>span , .contactUs-container form textarea,.contactUs-container form button
    {
        font-size: 19px;
    }

    .contactUs-container form button
    {
        position: relative;
        right: 30px;
    }

    .about-me-section 
    {
        
        padding: 20px 50px;
        text-align: justify;
        height: fit-content;
        width: 460px
        
    }

    .about-me-section h1 
    {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    #icons-project
    {
        display: none;
    }


    #projects-section
    {   width: 100%;
        position: relative;
        left: 0px;
    }

    #projects-section h1 
    {
        font-size: 24px;
    }
    #description-image-container img 
    {
        margin-top: 60px;
    }
    
}
